html {
  background-color: var(--mdc-theme-background, #eee);

  /* MDC uses CSS custom properties for customization.
     Would we use SASS, it would automatically compute darker and lighter shades for
     some elements, but we don't, which only means we might have to do some of those
     calculations ourselves and set more custom properties, see the docs for a list
     https://github.com/material-components/material-components-web/blob/master/docs/theming.md#step-4-changing-the-theme-with-css-custom-properties */
  --mdc-theme-primary: #c00;
  --mdc-theme-on-primary: black;
  --mdc-theme-secondary: slategrey;
  --mdc-theme-on-secondary: black;
  --mdc-theme-background: #eee;
}

body {
  margin: 0;
}

main.firstRunPage {
  padding: 15% 5%;
  text-align: center;
}

main.firstRunPage .logo img {
  width: 50%;
}

main.firstRunPage .subtext {
  margin: 3em auto;
  max-width: 90%;
}

main.firstRunPage .subtext h1 {
  font-weight: bold;
}

main.firstRunPage .subtext p {
  margin-top: -1em;
}

main.firstRunPage button {
  position: absolute;
  bottom: 32px;
  left: 50%;
  transform: translate(-50%, -50%);
}

header .tahoe-logo-button {
  padding: 8px;
}

header .tahoe-logo-button img {
  width: 22px;
  height: 32px;
}

main.magic-folder-page button[aria-label="Add"] {
  position: absolute;
  right: 32px;
  bottom: 32px;
  /* Use our primary color for the add-folder button. MDC defaults to the secondary
     color for FABs because they can be close to app bars and other surfaces, see
     https://m2.material.io/design/color/applying-color-to-ui.html#top-and-bottom-app-bars */
  background-color: var(--mdc-theme-primary);
  color: var(--mdc-theme-on-primary);
}

.mdc-top-app-bar {
  background-color: var(--mdc-theme-secondary, lightgrey);
  color: var(--mdc-theme-on-secondary, black);
}

.mdc-text-field--invalid {
  background-color: #fce9ec;
}

/* Fix missing use of CSS custom property in text field */
.mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
  color: var(--mdc-theme-primary, rgba(98, 0, 238, 0.87));
}

/* Only display the top-left "close" icon button in full-screen modal dialogs */
div.mdc-dialog:not(.mdc-dialog--fullscreen)
  button.mdc-icon-button.mdc-dialog__close {
  display: none;
}
